<header>
  <a [routerLink]="['/']">
    <div id="titleContainer">
      <img src="../../../assets/img/pokeball-azul.svg" alt="Pokeball" />
      <h1>Pokedex</h1>
      <img src="../../../assets/img/pokeball-azul.svg" alt="Pokeball" />
    </div>
  </a>
  <div id="partyContainer">
    <a [routerLink]="['/favs']">
      <img src="../../../assets/img/pokeball-white.svg" alt="Pokeball" />
      <p>Favoritos</p>
      <img src="../../../assets/img/pokeball-white.svg" alt="Pokeball" />
    </a>
  </div>
  <div id="loginContainer">
    <div *ngIf="user$ | async as user; else notLoggedIn">
      <span class="text-light">Hola, <strong>{{ user.displayName }}</strong></span>
      <button class="btn btn-danger ms-2" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span class="d-none d-md-inline-flex ps-2">Cerrar sesión</span>
      </button>
    </div>
    <ng-template #notLoggedIn>
      <button class="btn btn-primary" (click)="loginWithGoogle()">
        <i class="bi bi-google"></i>
        <span class="d-none d-md-inline-flex ps-2">Iniciar sesión con Google</span>
      </button>
    </ng-template>
  </div>
</header>