.container {
  height: calc(110vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: repeating-linear-gradient(
    0deg,
    #79a0e3 0px,
    #79a0e3 10px,
    #668cd7 10px,
    #668cd7 50px,
    #79a0e3 50px,
    #79a0e3 60px,
    #5576c5 60px,
    #5576c5 90px,
    #79a0e3 90px,
    #79a0e3 100px,
    #4c69b8 100px,
    #4c69b8 140px,
    #79a0e3 140px,
    #79a0e3 150px,
    #4660b4 150px,
    #4660b4 160px,
    #79a0e3 160px,
    #79a0e3 170px,
    #5576c5 170px,
    #5576c5 190px
  );
}

.content {
  padding-top: 5%;
}
.table {
    background-color: #f8d7da; /* Fondo de la tabla en tono rojo claro */
    border: 1px solid #D30A40; /* Borde de la tabla en tono rojo */
    width: 100%; /* Ancho completo de la tabla */
    font-size: 1.6em; /* Tamaño de fuente más grande */
  }
  
  .table thead {
    background-color: #D30A40; /* Fondo del encabezado en tono rojo */
    color: white; /* Texto blanco para el encabezado */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f5c6cb; /* Fondo de las filas pares en tono rojo claro */
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f8d7da; /* Fondo de las filas impares en tono rojo más claro */
  }
  
  .table tbody tr:hover {
    background-color: #D30A40; /* Fondo de la fila al pasar el ratón en tono rojo */
    color: white; /* Texto blanco al pasar el ratón */
  }
  
  .table td, .table th {
    border: 1px solid #D30A40; /* Bordes de las celdas en tono rojo */
    padding: 12px; /* Aumentar el relleno de las celdas */
  }
  
  .btn-danger {
    background-color: #D30A40; /* Botón de eliminar en tono rojo */
    border-color: #D30A40;
    font-size: 0.8em; /* Tamaño de fuente más grande */
  }
  
  .btn-danger:hover {
    background-color: #a00a30; /* Botón de eliminar al pasar el ratón en tono rojo oscuro */
    border-color: #a00a30;
  }
  
  .btn-primary {
    text-decoration: none;
    font-size: 1.6em; /* Tamaño de fuente más grande */
    padding: 10px 20px 10px 20px;
    background-color: #D30A40; /* Botón de añadir equipo en tono rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #a00a30; /* Botón de añadir equipo al pasar el ratón en tono rojo oscuro */
    border-color: #a00a30;
  }