<div class="container">
  <app-notification
    *ngIf="showAlert"
    [alertClass]="alertClass"
    [alertMessage]="alertMessage"
  />
  <form (submit)="updateParty()">
    <div class="content">
      <div class="name_party">
        <label>Equipo</label>
        <input
          class="form-control"
          id="name_party"
          name="party"
          type="text"
          [(ngModel)]="party.name"
        />
      </div>
      <div class="pokemons_party">
        <h1>POKEMONS</h1>
      </div>
      <div class="picture">
        <img src="../../../assets/img/char.png" id="pokemon_picture" />
        <input
          class="form-control"
          id="name_pokemon"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_1.name"
        />
      </div>
      <div class="search">
        <input type="text" id="search_input" placeholder="Buscar Pokémon" />
        <button (click)="searchPokemon()">Buscar</button>
      </div>
      <div class="attributtes">
        <div class="abilitie">
          <label for="abilities-select">Seleccionar Habilidad:</label><br>
          <select id="abilities-select" [(ngModel)]="selectedPokemon.abilitie" class="form-control">
            <option *ngFor="let ability of listAbilities" [value]="ability.name">{{ ability.name }}</option>
          </select>
        </div>
        <div class="item">
          <label for="item-select">Seleccionar objeto:</label><br>
          <select id="item-select" [(ngModel)]="selectedPokemon.item" class="form-control">
            <option *ngFor="let item of listItems" [value]="item.name">{{ item.name }}</option>
          </select>
        </div>
        <div class="moves">
          <div class="move_1">
            
          <label for="move-select">Seleccionar movimiento 1:</label><br>
          <select id="move1-select" [(ngModel)]="selectedPokemon.move_1" class="form-control">
            <option *ngFor="let move of listMoves" [value]="move.name" ngDefaultControl="listMoves[1]">{{ move.name }}</option>
          </select>
          </div>
          <div class="move_2">
            <label for="move-select">Seleccionar movimiento 2:</label><br>
            <select id="move2-select" [(ngModel)]="selectedPokemon.move_2" class="form-control">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
          <div class="move_3">
            <label for="move-select">Seleccionar movimiento 3:</label><br>
            <select id="move3-select" [(ngModel)]="selectedPokemon.move_3" class="form-control">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
          <div class="move_4">
            <label for="move-select">Seleccionar movimiento 4:</label><br>
            <select id="move4-select" [(ngModel)]="selectedPokemon.move_4" class="form-control">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
        </div>
      </div>
    </div>
  </form>

  <!--
    <app-notification *ngIf="showAlert" [alertClass]="alertClass" [alertMessage]="alertMessage"/>
    <form (submit)="updateParty()">
      <div class="form-group mb-4">
        <label for="name">Nombre</label>
        <input
          class="form-control"
          id="name"
          name="name"
          type="text"
          [(ngModel)]="party.name"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 1</label>
        <input
          class="form-control"
          id="poke_1"
          name="poke_1"
          type="text"
          [(ngModel)]="party.poke_1"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 2</label>
        <input
          class="form-control"
          id="poke_2"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_2"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 3</label>
        <input
          class="form-control"
          id="poke_3"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_3"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 4</label>
        <input
          class="form-control"
          id="poke_4"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_4"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 5</label>
        <input
          class="form-control"
          id="poke_5"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_5"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 6</label>
        <input
          class="form-control"
          id="poke_6"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_6"
        />
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary mt-3 "><i class="bi bi-pencil"></i> Editar</button>
      </div>
    </form>
    -->
</div>
