<div class="container">
  <app-notification
    *ngIf="showAlert"
    [alertClass]="alertClass"
    [alertMessage]="alertMessage"
  />
  <form (submit)="updateParty()">
    <div class="content">
      <div class="name_party">
        <label>Equipo</label>
        <input
          class="form-control"
          id="name_party"
          name="party.name"
          type="text"
          [(ngModel)]="party.name"
        />
      </div>
      <div class="pokemons_party">
        <div [ngClass]="party.poke_1.idPk" id="poke_1">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_1" id="picture_poke_1">
          </button>
        </div>
  
        <div [ngClass]="party.poke_2.idPk" id="poke_2">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_2" id="picture_poke_2">
          </button>
        </div>
        
        <div [ngClass]="party.poke_3.idPk" id="poke_3">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_3" id="picture_poke_3">
          </button>
        </div>
        
        <div [ngClass]="party.poke_4.idPk" id="poke_4">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_4" id="picture_poke_4">
          </button>
        </div>
        
        <div [ngClass]="party.poke_5.idPk" id="poke_5">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_5" id="picture_poke_5">
          </button>
        </div>
        
        <div [ngClass]="party.poke_6.idPk" id="poke_6">
          <button (click)="onPokemonButtonClick(party.poke_1)">
            <img src="../../../assets/img/char.png" alt="poke_6" id="picture_poke_6">
          </button>
        </div>
      </div>
      <div class="picture">
        <img src="../../../assets/img/char.png" id="pokemon_picture" />
        <input
          class="form-control"
          id="name_pokemon"
          name="party.poke_1.name"
          type="text"
          [(ngModel)]="party.poke_1.name"
        />
      </div>
      <div class="search">
        <input type="text" id="search_input" placeholder="Buscar Pokémon" />
        <button (click)="searchPokemon()">Buscar</button>
      </div>
      <div class="attributtes">
        <div class="abilitie">
          <label for="abilities-select">Seleccionar Habilidad:</label><br>
          <select id="ability-select" [(ngModel)]="selectedPokemon.abilitie" class="form-control" name="selectedPokemon.abilitie">
            <option *ngFor="let ability of listAbilities" [value]="ability.name">{{ ability.name }}</option>
          </select>
        </div>
        <div class="item">
          <label for="item-select">Seleccionar objeto:</label><br>
          <select id="item-select" [(ngModel)]="selectedPokemon.item" class="form-control" name="selectedPokemon.item">
            <option *ngFor="let item of listItems" [value]="item.name">{{ item.name }}</option>
          </select>
        </div>
        <div class="moves">
          <div class="move_1">
          <label for="move-select">Seleccionar movimiento 1:</label><br>
          <select id="move1-select" [(ngModel)]="selectedPokemon.move_1" class="form-control" name="selectedPokemon.move_1">
            <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
          </select>
          </div>
          <div class="move_2">
            <label for="move-select">Seleccionar movimiento 2:</label><br>
            <select id="move2-select" [(ngModel)]="selectedPokemon.move_2" class="form-control" name="selectedPokemon.move_2">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
          <div class="move_3">
            <label for="move-select">Seleccionar movimiento 3:</label><br>
            <select id="move3-select" [(ngModel)]="selectedPokemon.move_3" class="form-control" name="selectedPokemon.move_3">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
          <div class="move_4">
            <label for="move-select">Seleccionar movimiento 4:</label><br>
            <select id="move4-select" [(ngModel)]="selectedPokemon.move_4" class="form-control" name="selectedPokemon.move_4">
              <option *ngFor="let move of listMoves" [value]="move.name">{{ move.name }}</option>
            </select></div>
        </div>
      </div>
    </div>
  </form>

  <!--
    <app-notification *ngIf="showAlert" [alertClass]="alertClass" [alertMessage]="alertMessage"/>
    <form (submit)="updateParty()">
      <div class="form-group mb-4">
        <label for="name">Nombre</label>
        <input
          class="form-control"
          id="name"
          name="name"
          type="text"
          [(ngModel)]="party.name"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 1</label>
        <input
          class="form-control"
          id="poke_1"
          name="poke_1"
          type="text"
          [(ngModel)]="party.poke_1"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 2</label>
        <input
          class="form-control"
          id="poke_2"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_2"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 3</label>
        <input
          class="form-control"
          id="poke_3"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_3"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 4</label>
        <input
          class="form-control"
          id="poke_4"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_4"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 5</label>
        <input
          class="form-control"
          id="poke_5"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_5"
        />
      </div>
      <div class="form-group mb-4">
        <label for="poke_1">Pokemon 6</label>
        <input
          class="form-control"
          id="poke_6"
          name="pokemon"
          type="text"
          [(ngModel)]="party.poke_6"
        />
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary mt-3 "><i class="bi bi-pencil"></i> Editar</button>
      </div>
    </form>
    -->
</div>
